<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="apiKeyStore" type="YourApplication.ApiKeyStoreConfigurationSection" />
  </configSections>
  <apiKeyStore>
    <apiKey appId="some_unique_string" secretKey="some_long_random_string" />
  </apiKeyStore>
</configuration>